{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <section class="position-relative py-4 py-xl-5">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                    <div class="card mb-5">
                        <div class="card-body p-sm-5">
                            <h2 class="text-center mb-4">Register</h2>
                            <form method="post">
                                {% csrf_token %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger fade show" role="alert">
                                        {{ error }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>  
                                    </div>
                                {% endfor %}
                                {% include './partials/form_field.html' with field_errors=form_errors.first_name type="text" name="first_name" id="id_first_name" placeholder="First Name" value=form.first_name.value %}
                                {% include './partials/form_field.html' with field_errors=form_errors.last_name type="text" name="last_name" id="id_last_name" placeholder="Last Name" value=form.last_name.value %}
                                {% include './partials/form_field.html' with field_errors=form_errors.username type="text" name="username" id="id_username" placeholder="Username" value=form.username.value %}
                                {% include './partials/form_field.html' with field_errors=form_errors.email type="email" name="email" id="id_email" placeholder="Email" value=form.email.value %}
                                {% include './partials/form_field.html' with field_errors=form_errors.password1 type="password" name="password1" id="id_password1" placeholder="Password" %}
                                {% include './partials/form_field.html' with field_errors=form_errors.password2 type="password" name="password2" id="id_password2" placeholder="Password" %}
                                <div>
                                    <button class="btn btn-primary d-block w-100" type="submit">Register</button>
                                </div>
                                <div class="p-2 text-center text-muted" style="font-size:0.8rem;">
                                    Already have an account? <a href="{% url 'users:login' %}"> Sign In </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>