<div class="align-self-center col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-3" style="padding: 4px 8px;"  {% block data_attr %} {% endblock%}>
   
    <div class="d-flex justify-content-between align-items-center" style="padding: 8px 16px;font-size: 16px;background: var(--bs-body-bg); border: 1px solid rgba(132,135,139,0.55);border-radius: 5px;">
        <div class="d-flex justify-content-between align-items-center gap-3" >
            {% block card_content %} {% endblock %}
        </div>
        <div>
            <div class="dropdown show">
                <button class="btn btn-primary" aria-expanded="true" data-bs-toggle="dropdown" type="button" style="background: var(--bs-btn-disabled-color);color: rgb(5,5,5);border-style: none;">
                    {% include './three_dot_icon.html' %}
                </button>
                <div class="dropdown-menu">
                    {% block dropdown_items %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>